body {
  background-color: #fff;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica,arial,sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  margin: 24px;
}

a {
  color: #f60;
}

.item {
  margin-bottom: 28px;
  /* border-left: 8px solid #ff6600;
  padding-left: 16px; */
  font-family: menlo, monaco, consolas, courier, monospace;
}

.item .row {
  display: flex;
}

.item .title {
  line-height: 1.4em;
}

.item .arrow {
  padding-left: 180px;
  margin: -8px 0 -4px 0;
  color: #999;
  font-size: 18px;
  font-weight: 300;
}

.item .desc {
  color: #666;
}

.row.now .time {
  font-weight: bold;
  color: #f60;
}

.title A {
  text-decoration: none;
  color: inherit;
}

.row.now .title {
  text-decoration: none;
  color: #06c;
  color: #f60;
}

.buildtime {
  font-style: italic;
}

.item .time {
  color: #999;
  font-size: 12px;
  text-align: right;
  width: 50px;
  min-width: 50px;
  padding-right: 12px;
}