<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>x</title>
  <meta name="description" content="x">
  <meta name="author" content="x">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css.css">
</head>

<body>

<h1>Hacker News Title Edit Tracker</h1>

<p>This page shows the current front page items on <a href="https://news.ycombinator.com/">Hacker News</a> that have been edited since they were first posted to the site.</p>

<p class="buildtime">Last build: <%= Time.now.strftime("%B %-d, %H:%M %z") %></p>

<% results.each do |id, res| %>
  <div class="item">
    <% res.reverse.each.with_index do |r, i| %>
      <% now = i == res.length - 1 %>
      <div class="row <%= 'now' if now %>">
        <div class="time">
          <%= r['created_at'][/\d+\:\d+/] %>
        </div>
        <div class="title"><a href="https://news.ycombinator.com/item?id=<%= r['id'] %>"><%= r['title'] %></a></div>
      </div>
      <% if !now %>
        <div class="arrow">&darr;</div>
      <% end %>
    <% end %> 
  </div>
<% end %>

</body>
</html>
